body{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
}
.navbar .navbar-toggler-icon {
    background-image: url('images/icon-hamburger.svg');
}
.nav-div{
    background-color: hsl(207, 33%, 95%);
    border-bottom-left-radius: 50px;
    height: 50vh;
    width: 50%;
    position: absolute;
    z-index: -1;
    right: 0;
}
.nav-list li a{
    color: rgb(0, 0, 0);
    font-weight:bolder;
    font-size: 18px;
}
.dot{
    font-size: 38px;
    color: hsl(210, 7%, 78%);
}
.navbar-nav .login a{
    color:  hsl(210, 7%, 78%);
}
.main{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.new-p{
    background-color: hsl(230, 29%, 20%);
    /* width:40px; */
    /* text-align: center; */
    border-radius: 12px;
    color: white;
    float: left;
}
.new-heading{
    color:hsl(205, 9%, 74%);
    font-weight: 400;
}
.main-heading{
    color: hsl(230, 29%, 20%);
    font-weight: bolder;
    font-size: 4rem;
}
.para{
    color:hsl(205, 9%, 74%);
    font-size: 18px;
}
.btn1{
    background-color: hsl(0, 100%, 68%);
    color: white;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn-div1{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btn2{
    border: none;
    outline: none;
    background-color: none;
    color:  hsl(210, 7%, 78%);
    word-spacing: 4px;
    font-size: 18px;
    cursor: pointer;
}
.illustration-div{
    overflow: hidden;
    margin: 0px;
}
.illustration-img{
    width: calc(100% + 13.5rem);
}
@media screen and (max-width:767px){
    .nav-list{
        background-color: #fff;
        border: 1px solid white;
        color: black;
        font-size: 15px;
        width:80% !important;
        box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    }
    .nav-list li a{
        color: rgb(0, 0, 0);
        font-weight:normal;
        font-size: 15px;
        padding: 10px !important;
        width:70% !important;
        text-align: center;
    }
    .nav-list .pricing{
        border-bottom: 1px solid black;
        
    } 
    .nav-list .dot{
        display: none;
    }
    .main-heading{
        color: hsl(230, 29%, 20%);
        font-weight: bolder;
        font-size: 2rem;
    }
    .para{
        color:hsl(205, 9%, 74%);
        font-size: 18px;
        width:75% !important;
    }
    .buttons{
        width:100% !important;
    }
    .btn1{
        width:100% !important;
    }
    .btn2{
        width:100% !important;
    }

}   

